.learn-about {
  padding-top: 40px;
  padding-bottom: 25px;
  font-size: 14px;

  @media (min-width: $screen-sm-min) {
    padding-top: 50px;
    padding-bottom: 35px;
    font-size: 17px;
  }

  @media (min-width: $screen-md-min) {
    padding-top: 60px;
    padding-bottom: 45px;
    font-size: 20px;
  }

  @media (min-width: $screen-lg-min) {
    padding-top: 80px;
    padding-bottom: 65px;
  }

  .is-visible {
    .learn-about-content {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.learn-about-title {
  @include font-size(20px, 48px);
  margin-top: 0;
  margin-bottom: 20px;
  color: $color-primary;
  line-height: 1;
}

.learn-about-sub-title {
  @include font-size(20px, 18px);
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 30px;
  line-height: 1;
  font-weight: 300;

  @media (min-width: $screen-sm-min) {
    padding-bottom: 45px;
  }

  @media (min-width: $screen-md-min) {
    padding-bottom: 60px;
  }

  @media (min-width: $screen-lg-min) {
    padding-bottom: 70px;
  }

  @media (max-width: $screen-xs-max) {
    @include font-size(14px, 18px);
  }

  a {
    color: $steps-link-color;
    border-bottom: 1px solid transparent;
    transition: border .25s ease;

    &:hover {
      border-bottom-color: $steps-link-color;
      text-decoration: none;
    }
  }
}

.learn-about-content {
  opacity: 0;
  transform: translateY(30px);
  transition: .45s ease-out;

  &:nth-child(2) {
    transition-delay: .15s;
  }

  &:nth-child(3) {
    transition-delay: .3s;
  }

  img {
    margin-left: auto;
    margin-right: auto;
  }

  > p {
    @include font-size(20px, 18px);
    margin-bottom: 0;
    padding-bottom: 15px;
    padding-top: 20px;
    font-weight: 300;
    line-height: 1.3;

    @media (max-width: $screen-xs-max) {
      @include font-size(14px, 18px);
    }
  }

  a {
    color: $steps-link-color;
    border-bottom: 1px solid transparent;
    transition: border .25s ease;

    &:hover {
      border-bottom-color: $steps-link-color;
      text-decoration: none;
    }
  }
}
