.what-is {
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 14px;
  color: $color-white;
  background-color: $what-is-bg;

  @media (min-width: $screen-sm-min) {
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 17px;
  }

  @media (min-width: $screen-md-min) {
    padding-top: 60px;
    padding-bottom: 60px;
    font-size: 20px;
  }

  @media (min-width: $screen-lg-min) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.what-is-title,
.get-started {
  @include font-size(20px, 48px);
  margin-top: 0;
  font-weight: 400;
  line-height: 1;
}

.what-is-title {
  margin-bottom: 30px;

  @media (min-width: $screen-sm-min) {
    margin-bottom: 45px;
  }

  @media (min-width: $screen-md-min) {
    margin-bottom: 60px;
  }

  @media (min-width: $screen-lg-min) {
    margin-bottom: 70px;
  }
}

.what-is-row {
  position: relative;
  margin-bottom: 20px;
  line-height: 70px;

  @media (min-width: $screen-sm-min) {
    margin-bottom: 30px;
    padding-left: 85px;
  }

  @media (min-width: $screen-md-min) {
    margin-bottom: 40px;
  }

  @media (min-width: $screen-lg-min) {
    margin-bottom: 50px;
  }
}

.what-is-icon {
  margin-left: auto;
  margin-right: auto;
  height: 70px;
  width: 70px;
  fill: $color-secondary;

  @media (min-width: $screen-sm-min) {
    position: absolute;
    left: 0;
    top: 0;
  }
}

.what-is-content {
  @include font-size(20px, 24px);
  margin-bottom: 0;
  font-weight: 300;
  vertical-align: middle;
  line-height: normal;

  @media (min-width: $screen-sm-min) {
    display: inline-block;
  }
}

.get-started {
  margin-bottom: 0;
  color: inherit;
  transition: opacity .2s ease;

  &:focus {
    color: inherit;
    text-decoration: none;
    opacity: 1;
    outline: 0;

    .fa {
      opacity: 1;
    }
  }

  &:hover,
  &:active {
    color: inherit;
    text-decoration: none;
    opacity: .6;

    .fa {
      opacity: .6;
    }
  }

  .fa {
    @include font-size(20px, 20px);
    display: block;
    margin-top: 15px;
    transition: opacity .2s ease;

    @media (min-width: $screen-sm-min) {
      margin-bottom: 20px;
    }

    @media (min-width: $screen-md-min) {
      margin-bottom: 25px;
    }
  }
}
