%meta{ name: "og:title", content: data.site.title }
%meta{ name: "og:url", content: data.site.url }
%meta{ name: "og:site_name", content: "GitLab" }
%meta{ name: "og:image", content: "#{data.site.url}#{image_path("gitlab-pages.png")}" }
%meta{ name: "og:image:type", content: "image/png" }
%meta{ name: "og:image:width", content: 840 }
%meta{ name: "og:image:height", content: 580 }
