%footer.footer
  = logo("footer-logo", { width: 65, height: 60, label: "GitLab" })
  .animated.container
    %ul.text-center.footer-social
      %li
        = link_to('https://twitter.com/gitlab') do
          %i.fa.fa-twitter
          %span.sr-only Twitter
      %li
        = link_to('https://www.facebook.com/gitlab') do
          %i.fa.fa-facebook
          %span.sr-only Facebook
      %li
        = link_to('https://www.youtube.com/channel/UCnMGQ8QHMAnVIsI3xJrihhg') do
          %i.fa.fa-youtube
          %span.sr-only YouTube
      %li
        = link_to('https://www.linkedin.com/company/gitlab-com') do
          %i.fa.fa-linkedin
          %span.sr-only LinkedIn
    .row
      .col-sm-6.col-md-3.col-lg-2.col-lg-offset-2.footer-link-holder
        %h3.footer-link-title Products
        %ul.animated.footer-links
          %li= footer_link('Community Edition',  '/features')
          %li= footer_link('Enterprise Edition', '/features/#enterprise')
          %li= footer_link('GitLab.com',         '/gitlab-com/')
      .col-sm-6.col-md-3.col-lg-2.footer-link-holder
        %h3.footer-link-title Services
        %ul.animated.footer-links
          %li= footer_link('Pricing',     '/pricing/')
          %li= footer_link('Consultancy', '/consultancy/')
          %li= footer_link('Development', '/development/')
          %li= footer_link('Training',    '/training/')
      .col-sm-6.col-md-3.col-lg-2.footer-link-holder
        %h3.footer-link-title Community
        %ul.animated.footer-links
          %li= footer_link('Core Team',     '/core-team/')
          %li= link_to('Contributors',  'http://contributors.gitlab.com/')
          %li= footer_link('Documentation', '/documentation/')
          %li= footer_link('Getting Help',  '/getting-help/')
          %li= footer_link('Contributing',  '/contributing/')
          %li= footer_link('Applications',  '/applications/')
          %li= footer_link('Hall of Fame',  '/mvp/')
      .col-sm-6.col-md-3.col-lg-2.footer-link-holder
        %h3.footer-link-title Company
        %ul.animated.footer-links
          %li= footer_link('Blog',            '/blog/')
          %li= footer_link('Press and Logos', '/press/')
          %li= footer_link('About Us',        '/about/')
          %li= footer_link('Team',            '/team/')
          %li= footer_link('Jobs',            '/jobs/')
          %li= footer_link('Terms',           '/terms/')
          %li= footer_link('Contact Us',      '/contact/')
- full_path = current_page.file_descriptor.relative_path
.animated.text-center.source-link
  This page is generated from
  = link_to('a public file on GitLab.com', "#{data.site.repo}/blob/master/source/#{full_path}", class: 'external-source-link')
  &mdash; merge requests with improvements are
  = succeed('.') do
    = link_to('very welcome', "#{data.site.repo}/blob/master/CONTRIBUTING.md", class: 'external-source-link')
  = partial "includes/cc-license.html"

= javascript_include_tag 'vendor/jquery'
= javascript_include_tag 'application'
