%header.header
  %h1.sr-only
    About me
  .container
    = logo("header-logo", { width: 160, height: 148, label: "About me" })
    = wordmark("header-wordmark", { width: 202, height: 81, label: "About me" })
